<%= form_with model: @question, local: true do |form| %>
<% if @question.errors.present? %>
<%= @question.errors.full_messages.join(", ") %>
<% end %>
<div>
    <%= form.label :title %> 
    <%= form.text_field :title %> 
</div>
<div>
    <%= form.label :body %>
    <%= form.text_area :body, cols: 50, rows: 5 %>  
</div>
<div>
   <%= form.label :tag_names %>  
   <%= form.text_field :tag_names %> 
</div>
<%= form.submit %> 

<% end %>

<script>
$(function(){
    $('#question_tag_names').selectize({
        delimeter:',',
        persist: false,
        labelField:'name', //Coulmn name in db
        valueField:'name',//Coulmn name in db
        searchField:'name',//Coulmn name in db
        options: <%= Tag.select(:name).to_json(except: [:id]).html_safe %>,
        // The above line selects only names from tags table and converts them to a json array of objects without including ids and makes sure its a safe_html string
        // options:[{"name":"first tag"},{"name":"second tag"},{"name":"third tag"},{"name":"fourth tag"},{"name":"fifth tag"}, ....]
        
        create :function(input){
            return{
                name:input
            }
        }
    })
})

</script>
