<h3><%=@question.title%></h3>
<p><%= @question.body %></p>
<div>
Tags: <%=@question.tags.map(&:name).join(',')%>
</div>
<div>
    Created by: <%= @question.user&.full_name || "DELETED" %>
</div>
<div>
    <small>
        Liked by: <%= @question.likes.count %>
    </small>
    <small>
        <% if @like.present? %>
        <%= link_to 'unlike', like_path(@like),method: :delete  %> 
        <% else %>  
        <%= link_to 'like', question_likes_path(@question), method: :post  %> 
        <% end %> 
    </small>
</div>
<div>
    <small>
<p>Asked : <%= time_ago_in_words(@question.created_at)  %> </p>
</small>
<small>
<p>Last Edited : <%= time_ago_in_words(@question.updated_at)  %> </p>
</small>
<small>
    Seen : <%= pluralize(@question.view_count, 'time')%>
</small>
</div>
<small>
    <% if can? :crud, @question %>
    <%= link_to("Edit", edit_question_path(@question.id))%> | 
    <% end %>
    <% if can? :crud, @question %>
    <%= link_to("Delete",question_path(@question),method: :delete,data:{confirm: "Are you sure ?"})%>
    <% end %>
</small>
<h3>Give your awesome answer here:</h3>
<%= form_with model:[@question,@answer],local: true do |form|%>
<ul>
<% if @answer.errors.full_messages.each do |msg|%>

    <li>
        <%= msg %>
       
    </li>
<% end %>
<% end %>
</ul>
<%= form.text_area :body, 
cols: 50, 
rows: 5, 
placeholder: 'What are your thoughts?'%>
<%= form.submit %>

<% end %> 

<h3>Awesome Answers</h3>
<% @answers.each do |answer|%>
<p>
<%= answer.body %>

<div>
    Answered by:
    <%= answer.user&.full_name || "DELETED" %>
</div>
<% if can? :crud, answer %>
<%= link_to "Delete",question_answer_path(@question,answer), method: :delete,data: {confirm: "Are you sure?"} %>
<% end %>
<hr>
</p>
<% end %> 